/*The styles for the simple tables etc*/

.container{
border:0;
width:100%;
margin:20px auto;
}

.container p {
margin: 20px auto;
width: 90%;
}

h2.notification{
text-decoration:underline;
background:yellow;	
}

.container p a {
margin: 20px 0 0 10px;
-moz-border-radius: 4px;
border-radius: 4px;
border: solid 1px #20538D;
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
background: #4479BA;
color: #FFF;
padding: 8px 12px;
text-decoration: none;
}

.container p a:hover{
-moz-border-radius: 4px;
border-radius: 4px;
border: solid 1px #20538D;
text-shadow: 0;
-webkit-box-shadow: 0;
-moz-box-shadow: 0;
box-shadow: 0;
background: #4479BA;
color: yellow;
padding: 8px 12px;
text-decoration: none;
}

.container h2{
text-align:center;
width:100%;
}

th, td {
border: 1px solid #000;
width: 15%;
}

td{text-align:center}

table{
border-collapse:collapse;
width:90%;
margin:20px auto;
}